*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    background-color: black;
    height: 15vh;
    align-items: center;
    justify-content: space-around;      
}

.logoHeader{
    max-width: 14rem;
}

.iconHeader1{
    max-width: 14rem;
    padding: 0 2rem 0 2rem;
}

.iconHeader2{
    max-width: 14rem;
    padding: 0 2rem 0 2rem;
}

.iconHeader3{
    max-width: 14rem;
    padding: 0 2rem 0 2rem;
}


#icones {
    display: flex;
    justify-content: space-between;
    align-items: center;         
}

h1 h2{
    
    font-family: 'Roboto', sans-serif; 
}

.primeiraFoto{
    background-image: url(imagens/Grupo\ 486@2x.png);
    background-size: cover;
    height: 130vh;
}

.primeiraFoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titleBanner1{
    margin-bottom: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleCenter{
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    justify-content: center;
    text-align: center;
}

.logoCenter{
    max-width: 10rem;
    margin:3rem 5rem;
}

/* segunda seção*/

.segundaFoto{
    background-image: url(imagens/Interseção\ 16.png);
    background-size: cover;      
}

.titleBanner2{
    height: 130vh;
    display: flex;
    flex-direction: column;      
}

.titleLeft {
    font-family: 'Roboto', serif;;
    font-size: 4rem;
    font-weight: 800;
    align-items: left;
    margin-top: 25vh;
    margin-left: 5rem;
    display: flex;   
}

.paragraphLeft{
    font-family: 'Roboto', sans-serif;;
    font-size: 2.5rem;
    font-weight: 500;
    align-items: left;
    width: 40%;
    text-align: left;
    margin-top: 4rem;
    margin-left: 5rem;
}

/* botão1 - segunda seção*/

.botão1 input[type="submit"]{
    margin-top: 3rem;     
    margin-left: 5rem;
    height: 4rem;
    width: 16rem;
    border-radius: 28px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(73, 71, 71);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;  
}

.botão1 [type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(90, 88, 88);
}

/* terceira seção */

.terceiraFoto{
    background-image: url(imagens/Grupo\ 480.png);
    background-size: cover;  
}

.titleBanner3{
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: end;    
}
.titleRight{
    font-family: 'Roboto', serif;;
    font-size: 4rem;
    color: white;
    font-weight: 800;
    align-items: end;
    margin-top: 10rem;
    margin-right: 17rem;
    width: 30%;    
}

.paragraphRight{ 
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
    width: 40%;
    margin-top: 3rem;
    margin-right: 8rem;
}

/* botão2 - terceira seção*/

.botão2 input[type="submit"]{
    margin-top: 3rem;     
    height: 4rem;
    width: 16rem;
    border-radius: 28px;
    border: none;
    color:  rgb(73, 71, 71);
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 27rem;    
}

.botão2 [type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(90, 88, 88);
}

/* apoio  */
.apoio{
    height: 15vh;
    color: #fd6a9a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5rem;
}

.apoioMobileTxt div{
    display: inline-block;
    justify-content: center;
    margin: 10rem;
    margin-right: 9rem;
    font-size: 1.5rem;   
}


/* footer */

footer{
    height: 20rem;
    background-color: #fd6a9a;
    color: white;       
}

ul{
    
    list-style: none;
    margin-top: 1rem;  
}

li{
    font-family: Roboto, sans-serif;    
}

.sectionFooter{
    height: 20rem;
    display: flex;
    align-items: center;
    margin-left: 5rem;
    line-height: 130%;  
}
.divFooter{
  width: 20%;
  margin-top: 2rem;   
}

.divFooter h1{
    font-family: Roboto, sans-serif;
}

.iconesFooter{
    display: none;
}


@media  (max-width: 500px){
   
header{
    height: 12vh;
    width: 100%;
    justify-content: space-between;
    position: fixed;
       
}

.logoHeader{
    max-width: 12rem;
    margin-left: 3rem;
}

.iconHeader1{
    display: none; 
}

.iconHeader2{
    display: none;  
}
.iconHeader3{
    margin-right: 1rem;
}
/* primeira seção*/
.titleBanner1 h1{
    font-size: 2rem;     
}
.titleBanner1{
    margin-top: 2rem;
}

.primeiraFoto{
    background-image: url(imagens/Grupo\ 485.png);
    background-size: cover; 
    background-position: center;
    
    
}

.logoCenter{
    margin-bottom: 5rem;
}

/*segunda seção*/
.segundaFoto{
    background-image: url(imagens/Grupo\ 484.png);
    background-size: cover; 
    background-position: center;    
}

.titleBanner2 {
    height: 106vh;
}
.titleLeft {
    font-size: 2rem;
    margin-top: 8vh;
    margin-left: 2rem;
}

.paragraphLeft{
    font-size: 1rem;
    font-weight: 500;
    width: 60%;
    margin-top: 1rem;
    margin-left: 2rem;
}

.botão1 input[type="submit"]{
    margin-left: 2rem;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
    font-weight: 600;
}

/*terceira seção*/

.terceiraFoto{
    background-image: url(imagens/Grupo\ 496@2x.png);
    background-size: cover; 
    background-position: center;
}

.titleBanner3{
    height: 120vh;
}

.titleRight{
    font-size: 2rem;
    margin-top: 10vh;
    margin-right: 3rem;
    width: 80%;
}

.paragraphRight{ 
    font-size: 1rem;
    width: 60%;
    margin-top: 1rem;
    margin-right: 9rem;
}

/*botão 2*/

.botão2 input[type="submit"]{
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 13rem;
}
/*apoio*/
.apoio{
    height: 13vh;
    color: #fd6a9a;
    margin-top: 1rem;
    margin-left: 0;
    display: block;
}

.apoioMobile{
    display: flex;
    justify-content: center;  
}

.apoioMobileTxt div{
    display: inline-block;
    justify-content: ;
    margin: 0;
    margin-right: 0;
    font-size: 1.5rem;
    height: 15vh;   
}

.apoioMobileTxt{
    display: flex;
    justify-content: space-around;
    color: #fd6a9a;
    margin: 0;
    margin-top: 1rem;
    margin-right: rem; 
}

.apoioMobileTxt h1{
   font-size: 1.5rem;
}


/*footer*/

footer{
    height: 110vh;
}
 
.iconesFooter{
    background-color: #fd6a9a;
    display: flex;
    flex-direction: column;
}
.sectionLogo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}
 
.sectionLogo img{
    margin-top: 2rem;
    max-width: 40vw;
}
.sectionFooter {
    display: flex;
    flex-direction: row;   
}
.icones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 4rem  0 4rem;
}

.icones img{
    max-width: 10vw;
}

.divFooter h1{
    font-family: Roboto, sans-serif;

}
.sectionFooter div{
    width: 100%;

}

.sectionFooter{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.sectionFooter div{
    text-align: center;
    margin-right: 5rem;
 
}

}